<p>
    <form id="data-query" method='GET' >
      {{ form.csrf_token }}
      <div class="form-group">
        <p>First pick the type of data you would like to see</p>
        {{ form.data_set.label }}
        {{ form.data_set(placeholder="Select a data set...") }}
      </div>
      <div id="date-form">
        <p>
          Now select a date range. If the end date is left blank you we will
          show you from your start date to the most recent date. The earliest
          date for your selected data set is displayed automatically.
        </p>
        <div class="form-group">
          {{ form.date_start.label }}
          {{ form.date_start }}
          {% if form.date_start.errors %}
            {% for err in form.date_Start.errors %}
              <div>{{ err }}</div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.date_end.label }}
          {{ form.date_end }}
        </div>
        <div class="form-group">
          {{ form.submit }}
        </div>
      </div>
      <script type="text/javascript">
      var date_range;

        $("#data_set").on("change", function(){
          $("#date-form").slideDown();
          $("#time-slider").slider();
          $("#time-slider").slider( "value", 0 );

          $.ajax('/get-start-date', {
            data: $("#data-query").serialize(),
            success: function(response){
              $("#date_start").datepicker();
              $("#date_end").datepicker();
              $("#date_start").val(response.first_date);
            }
          });
        });

        $("#data-query").on("submit", function(event){
          event.preventDefault();
          $.ajax("/get-date-range", {
            data: $("#data-query").serialize(),
            success: function(response){
              date_range = response.date_range;
              $("#slider").slideDown();
              $("#time-slider").slider({
                min: 0,
                max: date_range.length,
                step : 1,
                slide: function(event, ui) {
                  $("#date-text").text(date_range[ui.value])
                  $.ajax("/get-data-set", {
                      data: { date : date_range[ui.value], data_set : $("#data_set").val()},
                      success : function(response){
                        var newData = {max : response.max_val, data : response.data};
                        heatmap.setDataSet(newData);
                      }
                  });
                }
              });
            }
          });
        });
      </script>
    </form>
    <p id="test"></p>
    <div id="slider">
      <p>The slider will adjust the date of the data on the map</p>
      <div id='time-slider'></div>
      <p id="date-text"></p>
    </div>
    <div id='radius-slider'></div>
</p>